# Systemd config file.
# Place in /etc/systemd/system
[Unit]
Description=Rankings
After=network.target

[Service]
Type=simple
User=rankings
ExecStart=/home/rankings/run-rankings-site.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
