{% extends "layout.html" %}
{% block body %}
<div class="row">
	<div class="large-12 columns text-center">
		<div class="panel"><h3>{{ activity.name }}</h3></div>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<h3 class="title">Top players</h3>
		<p>The currently top ranked players according to the validated match history.</p>
		{% include 'player_table.html' %}
	</div>
</div>

<div class="row">
	<div class="small-12 large-4 large-centered columns">
		<p><a href="{{ url_for('list_players', activity_url=activity.url) }}">All players...</a><p/>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<a class="button expand" href="#" data-reveal-id="modalSubmitMatch">Add new match result</a>
	</div>
</div>

{% include 'pending_match_table.html' %}

<div class="row">
	<div class="large-12 columns">
		<p><a href="{{ url_for('list_matches', activity_url=activity.url) }}">All matches...</a></p>
	</div>
</div>

<div id="modalSubmitMatch" class="reveal-modal small">
	{% include 'form_newmatch.html' %}
	<a class="close-reveal-modal">&#215;</a>
{# javascript to allow zurb foundation tabs to work in a modal #}
<script type="text/javascript">
{# http://stackoverflow.com/questions/20204530/foundation-tabs-dont-work-in-modal-when-using-ajax #}
$('#modalSubmitMatch').on('opened', function () {
   //$(this).foundation('section', 'reflow');
   $(document).foundation();
});
</script>

</div>
{% endblock %}
