{% extends "layout.html" %}
{% block body %}
<div class="row">
	<div class="large-12 columns text-center">
		<div class="panel"><h3>{{ activity.name }}</h3></div>
	</div>
</div>

{% include 'pending_match_table.html' %}

{% include 'match_table.html' %}

<div class="row">
	<div class="large-12 columns text-center">
		<a class="button expand" href="#" data-reveal-id="modalSubmitMatch">Add new match result</a>
	</div>
</div>

<div id="modalSubmitMatch" class="reveal-modal small">
	{% include 'form_newmatch.html' %}
	<a class="close-reveal-modal">&#215;</a>
</div>
{% endblock %}
