<div class="row">
	<div class="small-12 large-4 large-centered columns">
		<ul class="pricing-table">
			<li class="title"><div class="row">
			<div class="small-9 columns">
				<a href="{{ url_for('list_players', activity_url=activity.url, sort_by='name') }}">Name</a></div>
			<div class="small-3 columns">
				<a href="{{ url_for('list_players', activity_url=activity.url, sort_by='skill') }}">Skill</a></div>
			</div></li>
			{% if active_players|count > 0 %}
				{% for player in active_players %}
				{% if player.skill != 0 %}
				<li class="bullet-item"><div class="row">
					<div class="small-9 columns">
						<a href="{{ url_for('player_info', activity_url=activity.url, player_id=player.id) }}">{{ player.name }}</a>
					</div>
					<div class="small-3 columns">
						<span title="{{ '%0.2f'| format(player.skill) }}">{{ '%0.0f'| format(player.skill) }}</span>
					</div>
				</div></li>
				{% endif %}
				{% endfor %}
			{% else %}
				<li class="bullet-item"><div class="row">
					<div class="large-12 columns">No active players.</div>
				</div></li>
			{% endif %}
		</ul>
	</div>
</div>

