#
# Config for Caddy, see documentation: https://caddyserver.com/docs/caddyfile
#
# For development you can test this file by running (from parent dir):
#     caddy run --config deploy/Caddyfile --watch
#
{
	# Set CADDY_GLOBAL="debug" to enable debug logging.
	{$CADDY_GLOBAL:}
	http_port {$HTTP_PORT:8080}
	https_port {$HTTPS_PORT:8443}
	log {
		format console {
			time_format "2006-01-02 15:04:05.000 -0700"
			# Requires tzdata to be installed - but still seems to ignore TZ?
			time_local
		}
	}
}

# Defaults support HTTP with any hostname or IP address for host.
{$PROTOCOL:http}://{$HOST:} {
	log access {
		# See: https://github.com/caddyserver/transform-encoder
		# Install: sudo caddy add-package github.com/caddyserver/transform-encoder
		format transform `{request>remote_ip} - {request>user_id} [{ts}] "{request>method} {request>uri} {request>proto}" {status} {size} "{request>headers>Referer>[0]}" "{request>headers>User-Agent>[0]}"` {
			# https://caddyserver.com/docs/caddyfile/directives/log#format-modules
			time_format "2006-01-02 15:04:05.000 -0700"
			time_local
		}
	}

	# Create matcher for all Django URLs.
	@django {
		# TODO: move the two API requests that don't start with /api/ (but with {activity-url}/api/)
		path */api/* /admin/* /ssr/*
	}
	handle @django {
		reverse_proxy localhost:8000
	}
	# Django static files.
	handle /static/* {
		root * /app/api/static-root
		file_server
	}

	# Dynamic paths handled by frontend SPA.
	handle {
		# Set root path of the site (used by various matchers and directives).
		# Development (devcontainer): /workspace/svelte-ui/build
		# Production: /app/ui
		root * /app/ui
		# Return files in root matching URL path. If not found, rewrite to "/".
		try_files {path} /
		# Serve files (at "/").
		file_server
	}
}
