#
# For development you can test this file by running (from parent dir):
#     caddy run --config deploy/Caddyfile --watch
#
{
	# Set CADDY_GLOBAL="debug" to enable debug logging.
	{$CADDY_GLOBAL:}
	http_port {$HTTP_PORT:8080}
	https_port {$HTTPS_PORT:8443}
}

# Defaults support HTTP with any hostname or IP address for host.
{$PROTOCOL:http}://{$HOST:} {
	log {
		# sudo caddy add-package github.com/caddyserver/transform-encoder
		format transform "{common_log}"
	}

	# Create matcher for all Django URLs.
	@django {
		path /api/* /admin/* /static/* /ssr/*
	}
	handle @django {
		reverse_proxy localhost:8000		
	}

	# Dynamic paths handled by frontend SPA.
	handle {
		# Set root path of the site (used by various matchers and directives).
		# Development (devcontainer): /workspace/svelte-ui/build
		# Production: /var/www/html
		root * /workspace/svelte-ui/build
		# Return files in root matching URL path. If not found, rewrite to "/".
		try_files {path} /
		# Serve files (at "/").
		file_server
	}
}
