# Config for Systemd service to run Rankings website via docker.
#
# Config format docs: https://www.freedesktop.org/software/systemd/man/latest/systemd.syntax.html
#
# System setup:
# ```
# sudo apt-get install -y docker.io
# mkdir -p /opt/rankings-site/
# ```
#
# Place in /etc/systemd/system
# And then run these commands:
# ```
# sudo systemctl daemon-reload
# sudo systemctl enable rankings-docker.service
# sudo systemctl is-enabled rankings-docker.service
# ```
[Unit]
Description=Rankings site container
After=docker.service
Wants=network-online.target docker.socket
Requires=docker.socket

[Service]
Restart=always
# Need "bash -c" to run compound commands
# TODO: create/maintain db, open ports, create backups
ExecStartPre=/bin/bash -c "/usr/bin/docker container inspect rankings-site 2> /dev/null || \
    /usr/bin/docker run -d \
        --name rankings-site \
        -p 80:8080 \
        --env GUNICORN_TIMEOUT=300 \
        --mount type=bind,src=/opt/rankings-site/rankings.db,dst=/db/db.sqlite3 \
        samuller/rankings-site:1.0.0"
ExecStart=/usr/bin/docker start -a rankings-site
ExecStop=/usr/bin/docker stop -t 10 rankings-site

[Install]
WantedBy=multi-user.target
